body {
  background-color: black;
}
.card {
  max-height: 300px;
  font-size: 10 em;
  border: none;
}

.navbar {
  background-color:white;
  font-weight: 700;
  color: white;
}

.navbar-brand {
  background-color:white;
  margin-left: 6%;
}

.navbar-collapse {
  color: rgb(93, 230, 235);
  background-color: black;
}

.navbar-toggler {
  color: white !important;
}

.navbar-toggler-icon {
  color: white !important;
  background-color: white;
}

a {
  color:rgb(93, 230, 235);
}

i {
  padding: 3%;
  font-size: 2vw;
  color: white;
}

.jumbotron {
  background-color:black ;
  padding-top: 3%;
}

#projectExOne {
  background-image: url(./images/laptop.jpg);
  background-size: cover;
  object-fit: cover;
  text-align: center;
  width: 100vw;
  height: 75vh;
}

@media screen and (max-width: 600px) {
  #projectExOne {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
  }
  .aboutPageHeader {
    font-size: 3vh;
    line-height: 4vh;
  }
}

.footer {
  background-color:black;
 color: white;
  text-align: center;
}

h1 {
  font-size: 5vw;
  line-height: 1;
  margin-top: .83333vw;
  text-transform: uppercase;
  text-shadow: 0 0 3px #09ff00;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 1;
  background: -webkit-linear-gradient(rgb(125, 233, 174), rgb(3, 148, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bioheadline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1;
   margin-top: 40px;
   margin-bottom: 40px;
}

#projectOne {
  padding-bottom: 450px;
}

#projectTwo {
  padding-bottom: 500px;
}

#projectThree {
  padding-bottom: 470px;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  background-size: cover;
  max-height: 270px;
}

img { padding: 1%;
}

.lead {
  color:rgb(93, 230, 235);
  font-size: 3vh;
  line-height: 3vh;
}
 p {
   color:white;
   font-size: 3vh;
   line-height: 4vh;
   font-weight: 700;
 }
.drawer {
  display: none;
  color:white;
  
}

.drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__close {
  
  margin: 0;
  padding-left: 5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("./images/cancel.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 25px;
  height: 25px;
}

.drawer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 900px;
  z-index: 9999;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  background-image: url(./images/pawel-czerwinski-3WNqDzGK4Oo-unsplash.jpg);
  background-size: cover;

  
}
.drawer__title {
  color:white;
  padding-left: 3.3vw;
  padding-top: 2vw;
  font-size: 7vw;
  line-height: 7vw;
  font-family: 'Anton', sans-serif;
 
}
.drawer__content {
  padding-right: 5%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  padding-left: 4vw;
  font-weight: 500;
  font-weight: 700;
  font-size: 3vw;
  line-height: 3vw;
  font-family: 'Anton', sans-serif;
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 .form-control {
  background-color:rgb(2, 18, 19);
   color:white;
   border: 5px solid transparent;
   padding: .5rem;
   border-radius: 5px;
   border-image-source: linear-gradient(to right, rgb(93, 226, 171) 0%, rgb(83, 83, 240) 100%); 
   border-image-slice: 5;
  }

  .btn-custom {
    background-color:rgb(93, 230, 235) ;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  .aboutPageHeader {
    padding-top: 5%;
    padding-bottom: 2%;
    color:rgb(187, 228, 243);
    
  }

  

